.u-section-1 {
  background-image: url("../imgs/Fr8.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 747px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 792px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 769px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 364px;
}

.u-section-2 .u-group-1 {
  width: 604px;
  min-height: 266px;
  margin: 62px auto 0 -60px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 126px 29px 0 11px;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  margin: -266px 260px 60px 316px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    width: 564px;
    margin-left: 216px;
    margin-right: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 106px;
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 607px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 575px;
}

.u-section-3 .u-image-1 {
  height: 411px;
  object-position: 50% 13.69%;
  background-position: 50% 13.69%;
  width: 570px;
  margin: 0 auto 0 -54px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  transition-duration: 1s;
  margin: 27px 89px 0 -20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 575px;
}

.u-section-3 .u-image-2 {
  width: 567px;
  height: 521px;
  margin: -165px -51px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 21px -33px 0 55px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 602px;
  }

  .u-section-3 .u-image-1 {
    height: 339px;
    width: 470px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 81px;
    margin-left: 16px;
    font-family: "Open Sans", sans-serif;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 602px;
  }

  .u-section-3 .u-image-2 {
    width: 451px;
    margin-right: 0;
    margin-left: 69px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 667px;
  }

  .u-section-3 .u-image-1 {
    height: 260px;
    width: 360px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 26px;
    margin-bottom: 65px;
    margin-left: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 667px;
  }

  .u-section-3 .u-image-2 {
    width: 358px;
    margin-left: 53px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 46px;
    margin-left: 9px;
    width: 485px;
  }

  .u-section-3 .u-image-2 {
    width: 491px;
    height: 461px;
    margin-top: -157px;
    margin-right: 9px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1467px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 734px;
  }

  .u-section-3 .u-image-1 {
    height: 246px;
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 29px;
    margin-left: 6px;
    width: 305px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 734px;
  }

  .u-section-3 .u-image-2 {
    width: 331px;
    margin-right: 0;
    margin-left: 59px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.u-section-3 .u-text-1 {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-3 .u-text-1:hover {
  font-size: 24px !important;
}.u-section-4 {
  background-image: none;
  min-height: 606px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 626px;
}

.u-section-4 .u-image-1 {
  height: 634px;
  margin-top: 0;
  margin-bottom: -28px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 648px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-4 .u-text-1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 51px 28px 0 8px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 41px 20px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 626px;
  background-image: url("../imgs/Francia4.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 154px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-cell-2 {
    min-height: 626px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 33px;
    margin-right: 16px;
    margin-left: 0;
    width: 280px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 16px;
    margin-bottom: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 13px;
    width: 207px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1637px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 552px;
  }

  .u-section-4 .u-image-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 406px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 9px;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 699px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 6px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 9px auto 26px -19px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 648px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  transition-duration: 2.25s;
  font-family: "Open Sans", sans-serif;
  margin: 48px -379px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  transition-duration: 1s;
  margin: 7px 56px 0 77px;
}

.u-section-5 .u-text-3 {
  margin: 47px -33px 0 -28px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 648px;
}

.u-section-5 .u-image-1 {
  width: 731px;
  height: 489px;
  margin: 133px -92px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-1 {
    transform: translateX(10px) scale(1.35) rotate(0deg) translateY(10px);
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    transform: rotate(3deg);
    margin-right: 14px;
    margin-left: 35px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-5 .u-image-1 {
    width: 548px;
    height: 367px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 409px;
  }

  .u-section-5 .u-image-1 {
    width: 420px;
    height: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1098px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 526px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}

.u-section-5 .u-text-1 {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-5 .u-text-1:hover {
  transform: translateX(15px) rotate(5deg) translateY(15px) scale(1.11) !important;
}

.u-section-5 .u-text-2 {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-5 .u-text-2:hover {
  transform: rotate(3deg) !important;
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 857px;
}

.u-section-6 .u-group-1 {
  width: 570px;
  min-height: 494px;
  height: auto;
  margin: 16px 26px 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  animation-duration: 1000ms;
  transition-duration: 1s;
  margin: 56px 88px 0 108px;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 48px 9px 0 79px;
}

.u-section-6 .u-image-1 {
  width: 441px;
  height: 385px;
  transition-duration: 0.25s;
  animation-duration: 1000ms;
  margin: -452px auto 0 47px;
}

.u-section-6 .u-image-2 {
  width: 479px;
  height: 326px;
  transition-duration: 10s;
  animation-duration: 1000ms;
  margin: -29px 48px 0 auto;
}

.u-section-6 .u-text-3 {
  margin: -249px 667px -230px 61px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    font-family: "Open Sans", sans-serif;
  }

  .u-section-6 .u-image-2 {
    margin-top: -30px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 528px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-right: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 308px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 78px;
    margin-left: 98px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 68px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 297px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 231px;
    margin-top: 58px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: -154px;
    margin-right: 0;
  }
}

.u-section-6 .u-image-1 {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-6 .u-image-1:hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-6 .u-image-2 {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-6 .u-image-2:hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
}

.u-section-6 .u-text-1 {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-6 .u-text-1:hover {
  transform: rotate(11deg) scale(1.04) !important;
}
